<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login Form Design</title>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
        <link rel="stylesheet" href="stylesheets/style.css">
    </head>
    <body>
        <form class="login-form" action="registerProc" method="POST">
            <h1>회원가입</h1>

            <div class="textb">
                <input type="text" required name="id">
                <div class="placeholder">아이디</div>
            </div>

            <div class="textb">
                <input type="text" required name="nickname">
                <div class="placeholder">닉네임</div>
            </div>

            <div class="textb">
                <input type="password" required name="pw">
                <div class="placeholder">비밀번호</div>
                <div class="show-password fas fa-eye-slash"></div>
            </div>

            <div class="textb">
                <input type="password" required>
                <div class="placeholder">비밀번호 확인</div>
            </div>

            <button class="btn fas fa-arrow-right" disabled></button>

        </form>

        <script src="javascripts/registerFormScript.js"></script>
    </body>